{% extends 'base.html' %}
{% block title %}Edit Task{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
<div class="apple-update-container">
    <div class="update-card">
        <h4 class="update-title">Edit Task</h4>
        <form method="POST" class="update-form">
            {% csrf_token %}
            <div class="form-content">
                {{ form|crispy }}
            </div>
            <button type="submit" class="btn apple-btn apple-btn-primary w-100">Update</button>
        </form>
    </div>
</div>

{% endblock %}